* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Homepage */
.primary-background {
    background-color: white;
}

.primary-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #211914 !important;
}

    .primary-text:hover {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 30px;
        color: #211914 !important;
    }

.custom-expander {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-container {
    position: absolue;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 3rem;
    list-style: none;
    margin-right: 3rem;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    gap: 0.5rem;
    background: #FF816F;
    border-radius: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.icon {
    width: 20px;
    height: 20px;
}

.search-bar-body {
    background: #FFF3EC;
    border-radius: 40px;
    width: 20.6rem;
}

    .search-bar-body input,
    .search-bar-body input:focus,
    .search-bar-body input:active {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #000000;
        background: transparent;
        border: none !important;
        outline: none !important;
        box-shadow: none
    }

    .search-bar-body button {
        width: 56px;
        height: 56px;
        border-radius: 70px;
        outline: none;
        border: none;
    }

        .search-bar-body button:hover {
            background-color: #FF816F;
        }

        .search-bar-body button:active {
            background-color: #FAE5E7;
        }

        .search-bar-body button:focus {
            background-color: #FAE5E7;
        }

.primary-bold {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 90px;
}

.primary-accent {
    color: #FF816F;
}

.primary-paragraph {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 27px;
    letter-spacing: 0.06em;
    color: #8A8681;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.circular-shape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    border-radius: 50px;
    color: #FF816F;
    background: radial-gradient(50% 50% at 50% 50%, #FEFEFE 18.75%, #FFFFFF 100%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.17);
    margin-right: 1rem;
}

.white-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.btn-reset {
    width: 200px;
    height: 58px;
}

.secondary-bold {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2.3rem;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.06em;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    border: none;
}

.custom-card-ui {
    position: relative;
    width: 17rem;
    height: 21rem;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.card-body {
    position: absolute;
    bottom: 0;
    left: 0;
}

.secondary-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.85rem;
    text-align: justify;
    text-justify: inter-word;
}

.about-ui {
    margin-top: 6rem;
    width: 100%;
    height: 40rem;
    background: #FFF3EC;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    overflow-y: auto;
}

.terinary-bold {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #3D3434;
}

.opinion-text {
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.06em;
    color: #211914;
}


/* Helpers*/
.align-right {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.align-left {
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.peach {
    background-color: #FFCDB5;
}

.violet {
    background-color: #D6D9FE;
}

.pink {
    background-color: #FAE5E7;
}

.gray {
    color: #8A8681;
    ;
}

.custom-margin {
    margin-top: 8rem;
}

.footer-reset {
    list-style: none;
    text-align: justify;
    text-justify: inter-word;
}

footer {
    margin-top: 7rem;
}
@media (max-width: 700px) {
    .breakpoints {
        display:none;
    }
}
.btn-reset{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.7rem;
}