@model IEnumerable<Fudee.Models.Category>

@{
    ViewData["Title"] = "Rodzaje kuchni";
}
<!--Header-->
<div class="header-box">
    <h2>Kuchnie w Płocku</h2>
    <p>Wybierz, co Cię interesuje!</p>
</div>
<!--Header-->


<p>
    <a asp-action="Create">Nowa kuchnia</a>
</p>
<div class="card-category-container">
    @foreach (var item in Model) {
        <div class="custom-card-ui violet">
            <div class="card-body-category">
                <p class="card-text primary-text">@Html.DisplayFor(modelItem => item.NameCategory)</p>
                <img src="@Url.Content("~/graphic/"+item.Icon)" class="img-fluid" alt="@item.NameCategory" width="150" />
                <p class="card-text secondary-text"><a asp-action="Details" asp-route-id="@item.IdCategory">Znajdź restaurację ></a></p>
            </div>
        </div>
    }
</div>

