@{
    ViewData["Title"] = "Home Page";
}

<!--Main section-->
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <!--Searchbar-->
                <form class="d-flex search-bar-body">
                    <input class="form-control ms-2 me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><img class="icon" src="/assets/Search.png" alt="icon"></button>
                </form>
                <!--Heading-->
                <div class="mt-5">
                    <h1 class="primary-bold">
                        Rating Najlepszego <br />Jedzenia w <br />
                        Twoim <span class="primary-accent">Płocku</span>
                    </h1>
                    <p class="primary-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do<br /> eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <!--Button holder-->
                <div class="button-container me-5">
                    <button class="btn btn-reset mt-2">Zacznij</button>
                    <button class="white-btn"><div class="circular-shape">></div>Opinie klientów</button>
                </div>
            </div>
            <div class="col">
                <img class="img-fluid" src="/assets/HomeMain.png" alt="img-main" />
            </div>
        </div>
    </div>
</section>
<!--Main section-->
<!--Choice section-->
<section>
    <!--Heading-->
    <div class="container text-center mt-5">
        <div class="row">
            <div class="col breakpoints">
                <img src="/assets/Star 1.png" alt="star" />
            </div>
            <div class="col secondary-bold">
                Wybierz, na co masz
                dzisiaj ochotę:
            </div>
            <div class="col breakpoints">
                <img src="/assets/arrow.png" alt="arrow" />
            </div>
        </div>
    </div>
    <div class="card-container mt-5">
        <!--First card-->
        <div class="card  custom-card-ui peach" style="width: 18rem;">
            <img src="/assets/paczki.png" class=" img-fluid card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text primary-text">Cukiernie <img src="/assets/Arrow Right.png" class="icon" alt="icon" /></p>
                <p class="card-text secondary-text"><img src="/assets/clock.png" class="icon" alt="icon" />  25 min</p>
            </div>
        </div>
        <!--Second card-->
        <div class="card custom-card-ui violet" style="width: 18rem;">
            <img src="/assets/pizza.png" class="img-fluid card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text primary-text">Fast foody <img src="/assets/Arrow Right.png" class="icon" alt="icon" /></p>
                <p class="card-text secondary-text"><img src="/assets/clock.png" class="icon" alt="icon" />  25 min</p>
            </div>
        </div>
        <!--Third card-->
        <div class="card custom-card-ui pink" style="width: 18rem;">
            <img src="/assets/schabowy.png" class="img-fluid card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text primary-text">Tradycyjne obiady <img src="/assets/Arrow Right.png" class="icon" alt="icon" /></p>
                <p class="card-text secondary-text"><img src="/assets/clock.png" class="icon" alt="icon" />  25 min</p>
            </div>
        </div>
    </div>
</section>
<!--Choice section-->
<!--About section-->
<section>
    <div class="container text-center about-ui">
        <div class="row">
            <div class="col breakpoints">
                <img src="/assets/chef.png" class="img-fluid" alt="icon" />
            </div>
            <div class="col">
                <!--Heading-->
                <div class="custom-margin"><h1 class="mt-5 terinary-bold">Co <span class="primary-accent">o nas</span> mówą?</h1></div>
                <!--Opinions-->
                <div class="mt-5">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</p>
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</p>
                    <div class="align-right me-5"><p class="primary-text">Magdalena Gessler   <img src="/assets/heart.png" class="icon ms-3" alt="icon" /></p></div>
                    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</p>
                    <div class="align-left ms-5"><p class="primary-text">Wojciech Amaro   <img src="/assets/heart.png" class="icon ms-3" alt="icon" /></p></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--About section-->